.none {
  display: none; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.opacity0 {
  opacity: 0; }

.opacity1 {
  opacity: 1; }

body {
  background-color: #99a8b7; }

.flex {
  display: flex !important; }

.flexCenter {
  justify-content: center;
  align-items: center; }

.positionFixed {
  position: fixed; }

@font-face {
  font-family: menuFont;
  src: url(fonts/OpenSans-Semibold.ttf); }
@font-face {
  font-family: headFont;
  src: url(fonts/OpenSans-SemiboldItalic.ttf); }
@font-face {
  font-family: textFont;
  src: url(fonts/OpenSans-Regular.ttf); }
.menuButton {
  font-size: 25px;
  z-index: 2;
  color: #1A0338;
  margin: 20px 0 0 20px; }
  .menuButton:hover {
    color: #F4F3FB;
    background-color: #fcac45;
    transition: background-color 0.5s linear; }

.menuScroll {
  z-index: 1;
  position: fixed;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  /* Negative half of width. */
  background-color: #99a8b7; }
  .menuScroll ul {
    list-style: none;
    text-align: center;
    padding: 0; }
    .menuScroll ul li {
      display: inline-block;
      padding: 0 5px;
      font-size: 16px;
      font-weight: lighter;
      font-family: menuFont; }
      .menuScroll ul li a:link, .menuScroll ul li a:visited {
        color: #F4F3FB;
        text-decoration: none;
        border-bottom: 2px solid #fcac45;
        padding: 5px 5px;
        margin: 10px 0px;
        display: block; }
      .menuScroll ul li a:hover, .menuScroll ul li a:active {
        color: #F4F3FB;
        background-color: #fcac45;
        text-decoration: none;
        padding: 10px 10px;
        margin: 5px 5px;
        transition: background-color 0.5s linear;
        transition: padding 0.5s;
        display: block; }

.headerContainer {
  background-image: url("images/header_1.jpg");
  background-position-y: -80px;
  background-repeat: no-repeat; }
  @media (min-width: 992px) {
    .headerContainer {
      background-size: 100% 100%;
      background-position-y: 0; } }
  @media screen and (max-width: 992px) {
    .headerContainer {
      background-position-y: 0;
      background-size: 100% 100%; } }
  .headerContainer .menu {
    z-index: 1; }
    .headerContainer .menu ul {
      list-style: none;
      padding: 25px 0;
      text-align: center; }
      .headerContainer .menu ul li {
        display: inline-block;
        padding: 0 5px;
        font-size: 16px;
        font-weight: lighter;
        font-family: menuFont; }
        .headerContainer .menu ul li a:link, .headerContainer .menu ul li a:visited {
          color: #F4F3FB;
          text-decoration: none;
          border-bottom: 2px solid #fcac45;
          padding: 5px 5px;
          margin: 10px 0px;
          display: block; }
        .headerContainer .menu ul li a:hover, .headerContainer .menu ul li a:active {
          color: #F4F3FB;
          background-color: #fcac45;
          text-decoration: none;
          padding: 10px 10px;
          margin: 5px 5px;
          transition: background-color 0.5s linear;
          transition: padding 0.5s;
          display: block; }
  .headerContainer .textContainer {
    margin: 350px auto 75px auto;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .headerContainer .textContainer {
        margin: 75px 75px; } }
    .headerContainer .textContainer h1 {
      color: #F4F3FB;
      font-family: headFont; }
      .headerContainer .textContainer h1 span {
        color: #fcac45; }
    .headerContainer .textContainer p {
      color: #F4F3FB;
      font-size: 16px;
      font-family: textFont;
      letter-spacing: 1px; }
      .headerContainer .textContainer p span {
        color: #fcac45;
        font-weight: bold; }

.firstSection {
  background-color: white;
  padding: 50px 15px; }
  .firstSection .pictureContainer {
    text-align: center;
    margin: 80px auto 100px auto; }
    .firstSection .pictureContainer .picture {
      box-shadow: 10px 10px 5px #888888;
      width: 124px;
      height: 156.62px; }
  .firstSection .textContainer {
    margin: 50px auto; }
    .firstSection .textContainer h1 {
      font-family: headFont;
      color: #1A0338; }
      .firstSection .textContainer h1 span {
        color: #fcac45; }
    .firstSection .textContainer p {
      font-family: textFont;
      color: #1A0338;
      font-size: 16px; }

.secondSection {
  background-image: url(images/skills_1.jpg);
  background-repeat: no-repeat;
  padding: 50px 0; }
  @media screen and (max-width: 992px) {
    .secondSection {
      padding: 0px; } }
  .secondSection h1 {
    font-family: headFont;
    text-align: center;
    color: #fcac45; }
  .secondSection p:nth-child(2) {
    margin: 5px auto;
    text-indent: -9999px;
    border-bottom: 3px solid #fcac45;
    width: 100px; }
  .secondSection p:nth-child(3) {
    margin: 5px auto;
    text-indent: -9999px;
    border-bottom: 3px solid #fcac45;
    width: 50px; }
  .secondSection .pagerSkills {
    font-size: 40px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 0 10px; }
    .secondSection .pagerSkills .cycle-pager-active {
      color: #fcac45; }
  .secondSection .skillsContainer {
    padding: 0 0; }
    @media screen and (max-width: 992px) {
      .secondSection .skillsContainer {
        width: 178px;
        margin: 0 auto; } }
    .secondSection .skillsContainer .skill {
      text-align: center;
      padding: 0 0;
      text-align: center; }
      .secondSection .skillsContainer .skill img {
        text-align: center;
        width: 128px;
        height: 128px;
        margin: 15px auto; }
    .secondSection .skillsContainer .high {
      margin: 0 auto;
      width: 150px;
      height: 20px; }
      .secondSection .skillsContainer .high div {
        height: 100%;
        color: white;
        text-align: right;
        line-height: 20px;
        width: 0;
        background-color: #fcac45;
        padding-right: 5px;
        border-radius: 3px; }
    .secondSection .skillsContainer .mid {
      margin: 0 auto;
      width: 150px;
      height: 20px; }
      .secondSection .skillsContainer .mid div {
        height: 100%;
        color: white;
        text-align: right;
        line-height: 20px;
        width: 0;
        background-color: #fcac45;
        padding-right: 5px;
        border-radius: 3px; }
    .secondSection .skillsContainer .low {
      margin: 0 auto;
      width: 150px;
      height: 20px; }
      .secondSection .skillsContainer .low div {
        height: 100%;
        color: white;
        text-align: right;
        line-height: 20px;
        width: 0;
        background-color: #fcac45;
        padding-right: 5px;
        border-radius: 3px; }
  .secondSection .buttonSection {
    margin: 20px 0 20px 0;
    text-align: center; }
    .secondSection .buttonSection button {
      width: 75px;
      padding: 0;
      color: #fcac45;
      background-color: white;
      border: 2px solid #fcac45; }
      .secondSection .buttonSection button:hover {
        color: #F4F3FB;
        background-color: #fcac45;
        transition: background-color 0.5s linear; }

.thirdSection {
  background-color: white;
  padding: 50px 15px;
  color: #1A0338;
  font-family: textFont; }
  .thirdSection h1 {
    color: #1A0338;
    font-family: headFont;
    text-align: center; }
    .thirdSection h1 span {
      color: #fcac45; }
  .thirdSection p:nth-child(2) {
    margin: 5px auto;
    border-bottom: 3px solid #fcac45;
    width: 100px; }
  .thirdSection p:nth-child(3) {
    margin: 5px auto;
    border-bottom: 3px solid #fcac45;
    width: 50px; }
  .thirdSection .personalSection {
    margin: 0; }
    .thirdSection .personalSection h3 {
      color: #fcac45;
      font-family: headFont; }
    .thirdSection .personalSection span {
      font-weight: bold; }
    .thirdSection .personalSection ul {
      list-style: none; }
  .thirdSection .educationSection {
    margin: 0; }
    .thirdSection .educationSection h3 {
      color: #fcac45;
      font-family: headFont; }
    .thirdSection .educationSection ul {
      list-style: none; }
      .thirdSection .educationSection ul span {
        display: block;
        font-weight: bold; }
  .thirdSection .experienceSection {
    margin: 0; }
    .thirdSection .experienceSection h3 {
      color: #fcac45;
      font-family: headFont; }
    .thirdSection .experienceSection ul {
      list-style: none; }
      .thirdSection .experienceSection ul li {
        margin: 8px 0; }
        .thirdSection .experienceSection ul li span {
          font-weight: bold;
          display: block; }
      .thirdSection .experienceSection ul ul {
        list-style: none;
        padding: 0; }
        .thirdSection .experienceSection ul ul li {
          padding-left: 1.3em; }
          .thirdSection .experienceSection ul ul li:before {
            content: "\f054";
            /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            /* same as padding-left set on li */
            margin-left: 10px;
            width: 1.3em;
            /* same as padding-left set on li */ }
    .thirdSection .experienceSection .toggleButton {
      cursor: pointer; }
  .thirdSection .skillsSection {
    margin: 0; }
    .thirdSection .skillsSection h3 {
      color: #fcac45;
      font-family: headFont; }
    .thirdSection .skillsSection ul {
      list-style: none; }
      .thirdSection .skillsSection ul li {
        font-weight: bold; }
        .thirdSection .skillsSection ul li.toggleButton {
          cursor: pointer; }
      .thirdSection .skillsSection ul ul {
        list-style: none;
        padding: 0; }
        .thirdSection .skillsSection ul ul li {
          padding-left: 1.3em;
          font-weight: normal; }
          .thirdSection .skillsSection ul ul li:before {
            content: "\f054";
            /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            /* same as padding-left set on li */
            margin-left: 10px;
            width: 1.3em;
            /* same as padding-left set on li */ }

.fourthSection {
  background-image: url("images/portfolioBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 0; }
  .fourthSection h1 {
    font-family: headFont;
    text-align: center;
    color: #fcac45; }
  .fourthSection p:nth-child(2) {
    margin: 5px auto;
    border-bottom: 3px solid #fcac45;
    width: 100px; }
  .fourthSection p:nth-child(3) {
    margin: 5px auto;
    border-bottom: 3px solid #fcac45;
    width: 50px; }
  .fourthSection .pagerWork {
    font-size: 40px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 0 10px; }
    .fourthSection .pagerWork .cycle-pager-active {
      color: #fcac45; }
  @media screen and (max-width: 992px) {
    .fourthSection .portfolio {
      margin-left: 15%; } }
  .fourthSection .portfolio .work {
    padding: 20px 10px; }
    .fourthSection .portfolio .work img {
      width: 100%;
      height: 256px;
      position: relative; }
    .fourthSection .portfolio .work p {
      font-size: 30px;
      text-align: center;
      background-color: white;
      width: 100%; }
      .fourthSection .portfolio .work p a:link, .fourthSection .portfolio .work p a:visited {
        text-decoration: none;
        color: black; }
      .fourthSection .portfolio .work p a:hover, .fourthSection .portfolio .work p a:active {
        text-decoration: none;
        color: #fcac45;
        transition: color 0.3s linear; }
  .fourthSection .buttonSection {
    margin: 10px 0 0 0;
    text-align: center; }
    .fourthSection .buttonSection button {
      width: 75px;
      padding: 0;
      color: #fcac45;
      background-color: white;
      border: 2px solid #fcac45; }
      .fourthSection .buttonSection button:hover {
        color: #F4F3FB;
        background-color: #fcac45;
        transition: background-color 0.5s linear; }

.fifthSection {
  padding: 50px 0;
  background-color: white; }
  .fifthSection .headContainer h1 {
    font-family: headFont;
    text-align: center;
    color: #1A0338; }
    .fifthSection .headContainer h1 span {
      color: #fcac45; }
  .fifthSection .headContainer p:nth-child(2) {
    margin: 5px auto;
    border-bottom: 3px solid #fcac45;
    width: 100px; }
  .fifthSection .headContainer p:nth-child(3) {
    margin: 5px auto;
    border-bottom: 3px solid #fcac45;
    width: 50px; }
  .fifthSection form p {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    width: normal;
    color: fontDark;
    font-family: textFont;
    font-weight: bold; }
  .fifthSection form textarea {
    margin: 10px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fcac45; }
  .fifthSection form input {
    display: block;
    margin: 10px auto;
    margin-top: 0;
    border: 2px solid #fcac45; }
    .fifthSection form input.message {
      background-color: white;
      font-family: headFont;
      border-color: #fcac45;
      color: #1A0338; }
      .fifthSection form input.message:hover {
        color: #F4F3FB;
        background-color: #fcac45;
        transition: background-color 0.5s linear; }

.footerContainer {
  background-color: #fcac45;
  font-family: textFont;
  color: #1A0338; }
  .footerContainer .headFooter {
    font-family: headFont; }
  .footerContainer .infoFooter {
    padding: 10px 0;
    font-weight: bold; }
    .footerContainer .infoFooter .socialFooter {
      font-size: 16px; }
      .footerContainer .infoFooter .socialFooter a:link, .footerContainer .infoFooter .socialFooter a:visited {
        color: #1A0338; }
      .footerContainer .infoFooter .socialFooter a:hover, .footerContainer .infoFooter .socialFooter a:active {
        color: white;
        text-decoration: none;
        transition: color 0.3s linear; }
    .footerContainer .infoFooter .contactFooter {
      font-size: 16px;
      font-weight: bold; }

/*# sourceMappingURL=style.css.map */
