$orange: #fcac45;
$fontLight: #F4F3FB;
$fontDark: #1A0338;
$shadowColor: #888888;

//Classess for jQuery
.none{
	display: none;
}

.hidden{
	visibility: hidden;
}

.visible{
	visibility: visible;
}

.opacity0{
	opacity: 0;
}

.opacity1{
	opacity: 1;	
}

body{
	background-color: #99a8b7;
}

.flex{
  display: flex !important;
}

.flexCenter{
  justify-content: center;
  align-items: center;
}
.positionFixed{
	position: fixed;
}

@font-face {
	font-family: menuFont;
	src: url(fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: headFont;
	src: url(fonts/OpenSans-SemiboldItalic.ttf);
}

@font-face {
	font-family: textFont;
	src: url(fonts/OpenSans-Regular.ttf);
}

.menuButton{
  font-size: 25px;
  z-index: 2;
  color: $fontDark;
  margin: 20px 0 0 20px;

  &:hover{
    color: $fontLight;
    background-color: $orange;
    transition: background-color 0.5s linear;
  }
}

.menuScroll{
	z-index: 1;
	position: fixed;
	width: 600px;
	left: 50%;
	margin-left: -300px; /* Negative half of width. */
	background-color: #99a8b7;

	& ul{
		list-style: none;
		text-align: center;
		padding: 0;

		& li{
			display: inline-block;
			padding: 0 5px;
			font-size: 16px;
			font-weight: lighter;
			font-family: menuFont;
			
			& a:link, a:visited{
				color: $fontLight;
				text-decoration: none;
				border-bottom: 2px solid $orange;
				padding: 5px 5px;
				margin: 10px 0px;
				display: block;
			}

			& a:hover, a:active{
				color: $fontLight;
				background-color: $orange;
				text-decoration: none;
				padding: 10px 10px;
				margin: 5px 5px;
				transition: background-color 0.5s linear;
				transition: padding 0.5s;
				display: block;
			}
		}
	}
}

.headerContainer{
	background-image: url("images/header_1.jpg");
  background-position-y: -80px;
	//background-size: 100% 100%;
	background-repeat: no-repeat;

	@media (min-width: 992px){
		background-size: 100% 100%;
		background-position-y: 0;
	}	

	@media screen and (max-width: 992px){
		background-position-y: 0;
		background-size: 100% 100%;
	}

	
	& .menu{
		z-index: 1;

		& ul{
			list-style: none;
			padding: 25px 0;
			text-align: center;

			& li{
				display: inline-block;
				padding: 0 5px;
				font-size: 16px;
				font-weight: lighter;
				font-family: menuFont;
				
				& a:link, a:visited{
					color: $fontLight;
					text-decoration: none;
					border-bottom: 2px solid $orange;
					padding: 5px 5px;
					margin: 10px 0px;
					display: block;
				}

				& a:hover, a:active{
					color: $fontLight;
					background-color: $orange;
					text-decoration: none;
					padding: 10px 10px;
					margin: 5px 5px;
					transition: background-color 0.5s linear;
					transition: padding 0.5s;
					display: block;
				}
			}
		}
	}

	& .textContainer{
		margin: 350px auto 75px auto;
		text-align: center;

		@media screen and (max-width: 992px){
			margin: 75px 75px;
		}

		& h1{
			color: $fontLight;
			font-family: headFont;

			& span{
				color: $orange;
			}
		}

		& p{
			color: $fontLight;
			font-size: 16px;
			font-family: textFont;
			letter-spacing: 1px;

			& span{
				color: $orange;
				font-weight: bold;
			}
		}
	}
}

.firstSection{
	background-color: white;
	padding: 50px 15px;

	& .pictureContainer{
		text-align: center;
		margin: 80px auto 100px auto;

		& .picture{
			box-shadow: 10px 10px 5px $shadowColor;
			width: 124px;
			height: 156.62px;
		}
	}

	& .textContainer{
		margin: 50px auto;

		& h1{
			font-family: headFont;
			color: $fontDark;

			& span{
				color: $orange;
			}
		}

		& p{
			font-family: textFont;
			color: $fontDark;
			font-size: 16px;
		}
	}
}

.secondSection{
		background-image: url(images/skills_1.jpg);
		background-repeat: no-repeat;
		padding: 50px 0;

		@media screen and (max-width: 992px){
			padding: 0px;
		}

	& h1{
		font-family: headFont;
		text-align: center;
		color: $orange;
	}

	& p{
		
		&:nth-child(2) {
			margin: 5px auto;
			text-indent: -9999px;
			border-bottom: 3px solid $orange;
			width:100px;
		}

		&:nth-child(3) {
			margin: 5px auto;
			text-indent: -9999px;
			border-bottom: 3px solid $orange;
			width: 50px;
		}
	}

	& .pagerSkills{
		font-size: 40px;
		color: white;
		text-align: center;
		cursor: pointer;
		padding: 0 10px;

		& .cycle-pager-active{
			color: $orange;
		}
	}

	.skillsContainer{
		padding: 0 0;
		
		@media screen and (max-width: 992px){
			width: 178px;
			margin: 0 auto;
		}

		& .skill{
			text-align: center;
			padding: 0 0;
			text-align: center;

			& img{
			text-align: center;
			width: 128px;
			height: 128px;
			margin: 15px auto;
			}
		}

		& .high{
			margin: 0 auto;
			width: 150px;
			height: 20px;

			& div{
				height: 100%;
				color: white;
				text-align: right;
				line-height: 20px;
				width: 0;
				background-color: $orange;
				padding-right: 5px;
				border-radius: 3px;
			}
		}

		& .mid{
			margin: 0 auto;
			width: 150px;
			height: 20px;

			& div{
				height: 100%;
				color: white;
				text-align: right;
				line-height: 20px;
				width: 0;
				background-color: $orange;
				padding-right: 5px;
				border-radius: 3px;

			}
		}

		& .low{
			margin: 0 auto;
			width: 150px;
			height: 20px;

			& div{
				height: 100%;
				color: white;
				text-align: right;
				line-height: 20px;
				width: 0;
				background-color: $orange;
				padding-right: 5px;
				border-radius: 3px;

			}
		}
	}

	& .buttonSection{
		margin: 20px 0 20px 0;
		text-align: center;

		& button{
			width: 75px;
			padding: 0;
			color: $orange;
			background-color: white;
			border: 2px solid $orange;

			&:hover{
				color: $fontLight;
				background-color: $orange;
				transition: background-color 0.5s linear;
			}
		}
	}
}

.thirdSection{
	background-color: white;
	padding: 50px 15px;
	color: $fontDark;
	font-family: textFont;

	& h1{
		color: $fontDark;
		font-family: headFont;
		text-align: center;

		& span{
			color: $orange;
		}
	}

	& p{

		&:nth-child(2) {
			margin: 5px auto;
			border-bottom: 3px solid $orange;
			width:100px;
		}

		&:nth-child(3) {
			margin: 5px auto;
			border-bottom: 3px solid $orange;
			width: 50px;
		}
	}

	& .personalSection{
		margin: 0;

		& h3{
			color: $orange;
			font-family: headFont;		
		}

		& span{
			font-weight: bold;
		}

		& ul{
			list-style: none;
		}
	}

	& .educationSection{
		margin: 0;

		& h3{
			color: $orange;
			font-family: headFont;	
		}

		& ul{
			list-style: none;

			& span{
				display: block;
				font-weight: bold;
			}
		}
	}

	& .experienceSection{
		margin: 0;

		& h3{
			color: $orange;
			font-family: headFont;
		}

		& ul{
			list-style: none;

			& li{
				margin: 8px 0;
	
				& span{
					font-weight: bold;
					display: block;
				}
			}

			& ul{
				list-style: none;
				padding: 0;

				& li{
					padding-left: 1.3em;

					&:before{
						content: "\f054"; /* FontAwesome Unicode */
					  font-family: FontAwesome;
					  display: inline-block;
					  margin-left: -1.3em; /* same as padding-left set on li */
					  margin-left: 10px;
					  width: 1.3em; /* same as padding-left set on li */
				 	}
				}
			}
		}

		& .toggleButton{
			cursor: pointer;
		}
	}

	& .skillsSection{
		margin: 0;

		& h3{
			color: $orange;
			font-family: headFont;
		}

		& ul{
			list-style: none;

			& li{
				font-weight: bold;

				&.toggleButton{
					cursor: pointer;
				}
			}

			& ul{
				list-style: none;
				padding: 0;

				& li{
					padding-left: 1.3em;
					font-weight: normal;

					&:before{
						content: "\f054"; /* FontAwesome Unicode */
					  font-family: FontAwesome;
					  display: inline-block;
					  margin-left: -1.3em; /* same as padding-left set on li */
					  margin-left: 10px;
					  width: 1.3em; /* same as padding-left set on li */
				 	}
				}
			}
		}		
	}
}

.fourthSection{
	background-image: url("images/portfolioBackground.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 50px 0;	

	& h1{
		font-family: headFont;
		text-align: center;
		color: $orange;
	}

	& p{

		&:nth-child(2) {
			margin: 5px auto;
			border-bottom: 3px solid $orange;
			width:100px;
		}

		&:nth-child(3) {
			margin: 5px auto;
			border-bottom: 3px solid $orange;
			width: 50px;
		}
	}

	& .pagerWork{
		font-size: 40px;
		color: white;
		text-align: center;
		cursor: pointer;
		padding: 0 10px;

		& .cycle-pager-active{
			color: $orange;
		}
	}

	.portfolio{
		
		@media screen and (max-width: 992px){
			margin-left: 15%;
		}


		& .work{
			padding: 20px 10px;

			& img{
				width: 100%;
				height: 256px;
				position: relative;
			}

			& p{ 
				font-size: 30px;
				text-align: center;
				background-color: white;
				width: 100%;
			
				& a:link, a:visited{
					text-decoration: none;
					color: black;
				}

				& a:hover, a:active{
					text-decoration: none;
					color: $orange;
					transition: color 0.3s linear;
				}
			}
		}
	}

	& .buttonSection{
		margin: 10px 0 0 0;
		text-align: center;

		& button{
			width: 75px;
			padding: 0;
			color: $orange;
			background-color: white;
			border: 2px solid $orange;

			&:hover{
				color: $fontLight;
				background-color: $orange;
				transition: background-color 0.5s linear;
			}
		}
	}
}

.fifthSection{
	padding: 50px 0;
	background-color: white;
	
	& .headContainer{

		& h1{
			font-family: headFont;
			text-align: center;
			color: $fontDark;

			& span{
				color: $orange;
			}
		}

		& p{

			&:nth-child(2) {
				margin: 5px auto;
				border-bottom: 3px solid $orange;
				width:100px;
			}

			&:nth-child(3) {
				margin: 5px auto;
				border-bottom: 3px solid $orange;
				width: 50px;
			}
		}
	}

	& form{

		p{
			margin-top: 20px;
			margin-bottom: 0;
			text-align: center;
			width: normal;
			color: fontDark;
			font-family: textFont;
			font-weight: bold;
		}
		
		& textarea{
			margin: 10px auto;
			display: block;
		    margin-left: auto;
		    margin-right: auto; 
		    border: 2px solid $orange;
		}

		& input{
			display: block;
			margin: 10px auto;
			margin-top: 0;
			border: 2px solid $orange;

			&.message{
				background-color: white;
				font-family: headFont;
				border-color: $orange;
				color: $fontDark;

				&:hover{
					color: $fontLight;
					background-color: $orange;
					transition: background-color 0.5s linear;
				}
			}
		}
	} 
}

.footerContainer{
	background-color: $orange;
	font-family: textFont;
	color: $fontDark;

	@media screen and (max-width: 992px){
		text-align: center;
	}

	& .headFooter{
		font-family: headFont;
	}
	
	& .infoFooter{
		padding: 10px 0;
		font-weight: bold;

		& .socialFooter{
			font-size: 16px;

			& a:link, a:visited{
				color: $fontDark;
			}

			& a:hover, a:active{
				color: white;
				text-decoration: none;
				transition: color 0.3s linear;
			}
		}

		& .contactFooter{
			font-size: 16px;
			font-weight: bold;
		}
	}
}