body {
  background-color: #99a8b7; }

.flex {
  display: flex !important; }

.flexCenter {
  justify-content: center;
  align-items: center; }

@font-face {
  font-family: menuFont;
  src: url(fonts/OpenSans-Semibold.ttf); }
@font-face {
  font-family: headFont;
  src: url(fonts/OpenSans-SemiboldItalic.ttf); }
@font-face {
  font-family: textFont;
  src: url(fonts/OpenSans-Regular.ttf); }
.headerContainer {
  background-image: url("images/header_1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .headerContainer .menu {
    list-style: none;
    padding: 25px 0;
    text-align: center; }
    .headerContainer .menu li {
      display: inline-block;
      padding: 0 5px;
      font-size: 16px;
      font-weight: lighter;
      font-family: menuFont; }
      .headerContainer .menu li a:link, .headerContainer .menu li a:visited {
        color: #F4F3FB;
        text-decoration: none;
        border-bottom: 2px solid #fcac45;
        padding: 5px 5px;
        margin: 10px 0px;
        display: block; }
      .headerContainer .menu li a:hover, .headerContainer .menu li a:active {
        color: #F4F3FB;
        background-color: #fcac45;
        text-decoration: none;
        padding: 10px 10px;
        margin: 5px 5px;
        transition: background-color 0.5s linear;
        transition: padding 0.5s;
        display: block; }
  .headerContainer .textContainer {
    margin: 350px auto 75px auto;
    text-align: center; }
    .headerContainer .textContainer h1 {
      color: #F4F3FB;
      font-family: headFont; }
      .headerContainer .textContainer h1 span {
        color: #fcac45; }
    .headerContainer .textContainer p {
      color: #F4F3FB;
      font-size: 16px;
      font-family: textFont;
      letter-spacing: 1px; }
      .headerContainer .textContainer p span {
        color: #fcac45;
        font-weight: bold; }

.firstSection {
  background-color: white;
  padding: 50px 15px; }
  .firstSection .pictureContainer {
    text-align: center;
    margin: 80px auto 100px auto; }
    .firstSection .pictureContainer .picture {
      box-shadow: 10px 10px 5px #888888;
      width: 124px;
      height: 156.62px; }
  .firstSection .textContainer {
    margin: 50px auto; }
    .firstSection .textContainer h1 {
      font-family: headFont;
      color: #1A0338; }
      .firstSection .textContainer h1 span {
        color: #fcac45; }
    .firstSection .textContainer p {
      font-family: textFont;
      color: #1A0338;
      font-size: 16px; }

.secondSection {
  background-image: url(images/skills_1.jpg); }
  .secondSection h1 {
    font-family: headFont;
    text-align: center;
    color: #fcac45; }
  .secondSection p {
    margin: 5px auto;
    text-indent: -9999px;
    border-bottom: 3px solid #fcac45; }
    .secondSection p:nth-child(2) {
      width: 100px; }
    .secondSection p:nth-child(3) {
      width: 50px; }
  .secondSection .skillsContainer {
    padding: 0 0; }
    @media screen and (max-width: 992px) {
      .secondSection .skillsContainer {
        width: 178px;
        margin: 0 auto; } }
    .secondSection .skillsContainer .skill {
      text-align: center;
      padding: 0 0;
      text-align: center; }
      .secondSection .skillsContainer .skill img {
        text-align: center;
        width: 128px;
        height: 128px;
        margin: 15px auto; }
    .secondSection .skillsContainer .high {
      margin: 0 auto;
      width: 150px;
      height: 20px; }
      .secondSection .skillsContainer .high div {
        height: 100%;
        color: white;
        text-align: right;
        line-height: 20px;
        width: 0;
        background-color: #fcac45;
        padding-right: 5px;
        border-radius: 3px; }
    .secondSection .skillsContainer .mid {
      margin: 0 auto;
      width: 150px;
      height: 20px; }
      .secondSection .skillsContainer .mid div {
        height: 100%;
        color: white;
        text-align: right;
        line-height: 20px;
        width: 0;
        background-color: #fcac45;
        padding-right: 5px;
        border-radius: 3px; }
    .secondSection .skillsContainer .low {
      margin: 0 auto;
      width: 150px;
      height: 20px; }
      .secondSection .skillsContainer .low div {
        height: 100%;
        color: white;
        text-align: right;
        line-height: 20px;
        width: 0;
        background-color: #fcac45;
        padding-right: 5px;
        border-radius: 3px; }
  .secondSection .center {
    margin: 20px 0 20px 0;
    text-align: center; }
    .secondSection .center .example-pager {
      font-size: 40px;
      color: white;
      text-align: center;
      cursor: pointer;
      padding: 0 10px; }
      .secondSection .center .example-pager .cycle-pager-active {
        color: #fcac45; }
    .secondSection .center button {
      width: 75px;
      padding: 0;
      background-color: white;
      border: 2px solid #fcac45; }
      .secondSection .center button:hover {
        color: #F4F3FB;
        background-color: #fcac45;
        transition: background-color 0.5s linear; }

/*# sourceMappingURL=style.css.map */
