$orange: #fcac45;
$fontLight: #F4F3FB;
$fontDark: #1A0338;
$shadowColor: #888888;

body{
	background-color: #99a8b7;
}

.flex{
  display: flex;
}

.flexCenter{
  justify-content: center;
  align-items: center;
}

@font-face {
	font-family: menuFont;
	src: url(fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: headFont;
	src: url(fonts/OpenSans-SemiboldItalic.ttf);
}

@font-face {
	font-family: textFont;
	src: url(fonts/OpenSans-Regular.ttf);
}

.headerContainer{
	background-image: url("images/header_1.jpg");
  background-position-y: -80px;
	background-repeat: no-repeat;
	
	& .menu{
		list-style: none;
		padding: 25px 0;
		text-align: center;

		& li{
			display: inline-block;
			padding: 0 5px;
			font-size: 16px;
			font-weight: lighter;
			font-family: menuFont;
			
			& a:link, a:visited{
				color: $fontLight;
				text-decoration: none;
				border-top: 2px solid $orange;
				padding: 5px 5px;
				margin: 10px 0px;
				display: block;
			}

			& a:hover, a:active{
				color: $fontLight;
				background-color: $orange;
				text-decoration: none;
				padding: 10px 10px;
				margin: 5px 5px;
				transition: background-color 0.5s linear;
				transition: padding 0.5s;
				display: block;
			}
		}
	}

	& .textContainer{
		margin: 350px auto 75px auto;
		text-align: center;

		& h1{
			color: $fontLight;
			font-family: headFont;

			& span{
				color: $orange;
			}
		}

		& p{
			color: $fontLight;
			font-size: 16px;
			font-family: textFont;
			letter-spacing: 1px;

			& span{
				color: $orange;
				font-weight: bold;
			}
		}
	}
}

.firstSection{
	background-color: white;

	& .pictureContainer{
		text-align: center;
		margin: 100px auto;

		& .picture{
			box-shadow: 10px 10px 5px $shadowColor;
		}
	}

	& .textContainer{
		margin: 50px auto;

		& h1{
			font-family: headFont;
			color: $fontDark;

			& span{
				color: $orange;
			}
		}

		& p{
			font-family: textFont;
			color: $fontDark;
			font-size: 16px;
		}
	}
}

.secondSection{
		background-image: url(images/skills_1.jpg);
		background-repeat: no-repeat;

	& h1{
		font-family: headFont;
		text-align: center;
		color: $orange;
	}

	& p{
		margin: 5px auto;
		text-indent: -9999px;
		border-bottom: 3px solid $orange;

		&:nth-child(2) {
			width:100px;
		}

		&:nth-child(3) {
			width: 50px;
		}
		
	}
	.skillsContainer{

		& .skill{
			text-align: center;

			& img{
			text-align: center;
			width: 128px;
			height: 128px;
			margin: 15px 0;
			}
		}

		& .high{
			margin: 0 auto;
			width: 200px;
			height: 20px;

			& div{
				height: 100%;
				color: white;
				text-align: right;
				line-height: 20px;
				width: 0;
				background-color: $orange;
				padding-right: 5px;
				border-radius: 3px;
			}
		}

		& .mid{
			margin: 0 auto;
			width: 200px;
			height: 20px;

			& div{
				height: 100%;
				color: white;
				text-align: right;
				line-height: 20px;
				width: 0;
				background-color: $orange;
				padding-right: 5px;
				border-radius: 3px;

			}
		}

		& .low{
			margin: 0 auto;
			width: 200px;
			height: 20px;

			& div{
				height: 100%;
				color: white;
				text-align: right;
				line-height: 20px;
				width: 0;
				background-color: $orange;
				padding-right: 5px;
				border-radius: 3px;

			}
		}
	}
}